 <div class = "panel panel-default">
   <div class = "panel-heading"> 
      <p>Status Information</p>
   </div>
    <div class =  "panel-body">
        <h1>Box Status: <%= @box.servicestatus %></h1>
        <h2>Board Status: <%= @box.board.servicestatus %></h2> 
    </div>
</div>  