 <div class = "panel panel-default">
   <div class = "panel-heading"> 
      <p>Status Information</p>
   </div>
    <div class =  "panel-body">
        <h1>Customer Status: <%= @customer.servicestatus %></h1>
    </div>
</div>  
