<h1>Customer</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>    
    </tr>
  </thead>
  <tbody>
    <% if @customers.count == 0 %>
      <tr>
        <td colspan="6">
          No customers found.  Click the button above to add a new one.
        </td>
      </tr>
    <% else %>
      <% @customers.each do |customer| %>
            <tr class = "default">
              <td><%= link_to "#{customer.lastname}", customer %></td>
              <td><%= customer.firstname %> </td>
              <td><%= customer.address %></td>     
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<div class="well">
<%= link_to "New Customer", new_customer_path, class: "btn btn-default " %>
</div>

